
/* General */
.nav-background-white {
  background-color: #fff;
  padding-top: 100px;
}

.main-sidebar {
  min-height: calc(100vh - 50px);
}

.sticky-footer {
  height: 50px;
  grid-column: 1 / -1;
}

.blue-background {
  background: $leden-dark-blue;
  th {
    background: $leden-dark-blue;
  }
}

.text-white th {
  color: white;
}

.sidebar {
  li {
    &.active, &.active:hover, &.active:focus, &.active:active {
      background: $leden-dark-blue;
      a {
        color: white;
      }
    }
    &.nav-item {
      transition: all 0.2s ease-in-out;
      padding: 0 30px;
      &:hover, &:focus, &:active {
        background: #ededed;
        a {
          color: #3490dc;
        }
      }
    }
  }
  .sidebar-brand {
    padding: 10px 30px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.notification {
  text-decoration: none !important;
  span {
    color: #3a3b45 !important;
    &.text-white {
      color: #fff !important;
    }
  }
}

select option:disabled {
  background: #eee;
}

.btn-tooltip {
  background: #fff;
  color: $leden-dark-blue;
  border: 0;
}

.btn-primary {
  color: white;
  &:hover {
    color: white!important;
  }
}

/* Login Screen */
.login {
  background: url('/images/mustang-medium.jpg') no-repeat bottom right;
  background-size: cover;
  height: 100vh;
}

.login-cont {
  margin: 40% 0 0;
  h1 {
    font-size: 35px;
    color: #333;
  }
  img {
    width: 100%;
  }
  form {
    background: #fff;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.4);
    padding: 20px;
    color: #333;
    margin-top: 30px;
  }
  input {
    padding-right: 44px;
    border-radius: 0 !important;
    border-color: #d2d6de;
  }
  .has-feedback {
    position: relative;
  }
  .form-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
  }
}

.datepicker table tr td span {
  width: 100% !important;
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

table.dataTable {
  position: relative;
}

.dataTable tr th {
  background: $leden-dark-blue;
  color: #fff;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
