#wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 16px;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.invoice-box {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;
  margin-bottom: 1rem;
}

.colSearch {
  width: 100%!important;
  padding: 5px;
  font-size: 12px;
  &[data-colName="ID"], &[data-colName="Action"], &[data-colName="noTitle"] {
    display: none;
  }
}

.searchContainer th {
  padding:2px;
  background-color: #cdcdcd!important;
}

.btn {
  &.btn-sm {
    display: inline-block;
  }
}

.modal.show {
  display: block;
  padding-right: 17px;
}

.btn-flex {
  display: flex;
  a{
    flex-shrink: 0;
    width: 50%;
  }
}

.meta-management {
  margin: 10px 0 40px;

  h4 {
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
  }

}

.h-75p {
  height: 75px;
}

.h-300 {
  height: 500px;
  overflow-y: auto;
}

.icon-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-dropdown {
  position: absolute;
  right: 0;
  z-index: 1000;
  min-width: 10rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  display: none;
  &.show {
    display: block;
  }
}

.messages-box,
.contact-box {
  height: 510px;
  overflow-y: scroll;
}

.messages-box,
.contact-box {
  height: 510px;
  overflow-y: scroll;
}

.news-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
  .title {
    padding: 10px 24px;
    background: $primary;
    color: white;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
  }
  ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    position: absolute;
    animation: newsScroll 24s infinite linear;
    li {
      padding: 0 24px;
      border-right: 1px solid $primary;
      white-space: nowrap;
      &:last-of-type {
        border-right: 0;
      }
    }
  }
}

@keyframes newsScroll {
  from {
    transform: translateX(100%);
  }
  to  {
    transform: translateX(-100%);
  }
}

.dropdown-menu-right {
  right: 0;
}

.content-container {
  padding-top: 100px;
}

.form-group {
  margin-bottom: 1rem;
}

.notify {
  z-index: 20000;
  position: fixed;
}

.font-weight-bold {
  font-weight: 700;
}

.img-profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

#content-wrapper {
  min-height: calc(100vh - 55px);
}
